__pycache__/*
data/*
pdfs/*
residuals/*
logs*/*
post_experiment_process/rtt_results/
post_experiment_process/bw_results/
end2end_experiments/*kbps
traces/fixed/
traces/custom/
*ssim_data_threshold_approach.txt
